
.notification-icon .icon {
    font-size: 28px;
    cursor: pointer;
  }
  .modal-checkbox {
    display: none;
  }
  .letra_modal{
    color: #fff;
  }
  .modal {
    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: flex-end;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
  }
  
  .modal-checkbox:checked + .modal {
    opacity: 1;
    pointer-events: auto;
  }
  
  .modal-content_notificaciones{
    background-color: #2a2a2e;
    width: 300px;
    max-height: 90%;
    overflow-y: auto;
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    animation: slideIn 0.3s ease-out;
  }
  
  /* Animación */
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #3a3a3d;
    border-bottom: 1px solid #D26415;
    border-radius: 8px 8px 0 0;
  }
.modal-header h3 {
    margin: 0;
  }
.close-button {
    font-size: 18px;
    cursor: pointer;
    color: #D26415;
    background: none;
    border: none;
  }
.notifications-list {
    list-style: none;
    margin: 0;
    padding: 15px;
  }
.notifications-list li {
    margin-bottom: 15px;
    padding: 10px;
    background-color: #1f1f23;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
  }
.notifications-list li:hover {
    background-color: #3a3a3d;
    cursor: pointer;
  }
.modal-content_notificaciones::-webkit-scrollbar {
    width: 8px;
  }
.modal-content_notificaciones::-webkit-scrollbar-thumb {
    background-color: #9147ff;
    border-radius: 4px;
  }
.modal-content_notificaciones::-webkit-scrollbar-track {
    background: #1f1f23;
  }